@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is built for a coding sample, so I suppose there is nothing very private about it</p>
<p>However - if you decide to copy this, shame on you.</p>
